
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
    font-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #22262A;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.container, .modal-container, .container-lg {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.overline {
    font-size: 18px;
    color: #646769;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-transform: uppercase;
}
.font-style-italic {
    font-style: italic;
}

.mb-150 {
    margin-bottom: 1.5rem;
}
.mt-0 {
    margin-top: 0rem;
    margin-bottom: 60px;
    font-size: 20px;
}

.line-height-150 {
    line-height: 1.5;
}
.mt-50, .placeholder-text {
    margin-top: 0.5rem;
}
.heading-2 {
    font-size: 48px;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    color: #22262A;
    font-weight: bold;
}
.questionnaire-content .field__label {
    color: #646769;
    letter-spacing: 1.5px;
}
.field__label {
    color: #22262A;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
}
.input {
    align-items: center;
    height: 3em;
    padding: 8px 1em;
    vertical-align: middle;
    display: flex;
    width: 100%;
    background: #fff;
    border: 1px solid #c7ccd1;
    border-top-color: #b9bfc6;
    border-radius: 3px;
    color: #22262A;
    transition: 0.15s all ease;
    font-size: large;
}
.text-align-right-lg {
    text-align: right;
}

.width-100 {
    width: 100%;
}
form {
    width: 40%;
    /* left: 50%; */
    /* top: 50%; */
    margin-left: 30%;
    margin-top: 10%;
}
.button {
    position: relative;
    align-items: center;
    height: 3em;
    padding: 2.5em;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    color: #4C4C4C;
    cursor: pointer;
    background-color: #e7e7e7;
    border: 1px solid #D3D4D4;
    border-radius: 2px;
    letter-spacing: 0.03em;
    transition: 0.15s all ease;
    text-transform: uppercase;
    margin-top: 40px;
    margin-right: -36px;
}
.mt-25 {
    margin-top: 0.25rem;
}